@font-face {
  font-family: "MuseoSansCyrl-300";

  src: url("../fonts/MUSEOSANSCYRL1.woff") format("woff"), /* Modern Browsers */
    url("../fonts/MUSEOSANSCYRL1.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSansCyrl-500";

  src: url("../fonts/MUSEOSANSCYRL2.woff") format("woff"), /* Modern Browsers */
    url("../fonts/MUSEOSANSCYRL2.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSansCyrl-700";

  src: url("../fonts/MUSEOSANSCYRL3.woff") format("woff"), /* Modern Browsers */
    url("../fonts/MUSEOSANSCYRL3.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}