@mixin museo300 {
  font-family: "MuseoSansCyrl-300";
  font-weight: normal;
}
@mixin museo500 {
  font-family: "MuseoSansCyrl-500";
  font-weight: normal;
}
@mixin museo700 {
  font-family: "MuseoSansCyrl-700";
  font-weight: normal;
}